<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.usb.host"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/MaterialAppTheme"
        tools:ignore="UnusedAttribute">
        <activity
            android:name="eu.depau.etchdroid.ui.activities.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/MaterialAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="eu.depau.etchdroid.ui.activities.UsbDrivePickerActivity"
            android:label="@string/title_activity_usb_drive_picker"
            android:parentActivityName="eu.depau.etchdroid.ui.activities.StartActivity"
            android:theme="@style/MaterialAppTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.depau.etchdroid.ui.activities.StartActivity"/>

            <!-- Open ISO files by mimetype -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="application/x-iso9660-image"/>
                <data android:host="*"/>
            </intent-filter>

            <!-- Open ISO files by extension -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="*/*"/>
                <data android:host="*"/>
                <!--
                     Work around Android's ugly primitive PatternMatcher
                     implementation that can't cope with finding a . early in
                     the path unless it's explicitly matched.
                     https://stackoverflow.com/a/31028507/1124621
                -->
                <data android:pathPattern=".*\\.iso"/>
                <data android:pathPattern=".*\\..*\\.iso"/>
                <data android:pathPattern=".*\\..*\\..*\\.iso"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.iso"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.iso"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.iso"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.iso"/>
                <data android:pathPattern=".*\\.img"/>
                <data android:pathPattern=".*\\..*\\.img"/>
                <data android:pathPattern=".*\\..*\\..*\\.img"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.img"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.img"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.img"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.img"/>
            </intent-filter>

            <!-- Open DMG files by mimetype -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="application/x-apple-diskimage"/>
                <data android:host="*"/>
            </intent-filter>

            <!-- Open DMG files by extension -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="*/*"/>
                <data android:host="*"/>
                <!--
                     Work around Android's ugly primitive PatternMatcher
                     implementation that can't cope with finding a . early in
                     the path unless it's explicitly matched.
                     https://stackoverflow.com/a/31028507/1124621
                -->
                <data android:pathPattern=".*\\.dmg"/>
                <data android:pathPattern=".*\\..*\\.dmg"/>
                <data android:pathPattern=".*\\..*\\..*\\.dmg"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.dmg"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.dmg"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.dmg"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.dmg"/>
            </intent-filter>
        </activity>
        <activity
            android:name="eu.depau.etchdroid.ui.activities.ConfirmationActivity"
            android:label="@string/title_activity_confirmation"
            android:parentActivityName="eu.depau.etchdroid.ui.activities.UsbDrivePickerActivity"
            android:theme="@style/MaterialAppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.depau.etchdroid.ui.activities.UsbDrivePickerActivity"/>
        </activity>

        <activity
            android:name="eu.depau.etchdroid.ui.activities.ErrorActivity"
            android:excludeFromRecents="true"
            android:label="@string/write_failed"
            android:launchMode="singleTask"
            android:taskAffinity=""
            >
        </activity>

        <service
            android:name=".services.UsbApiImgWriteService"
            android:exported="false"/>
        <service
            android:name=".services.UsbApiDmgWriteService"
            android:exported="false"/>

        <!--suppress AndroidDomInspection -->
        <!--
            Some versions of libaums sneak in the UsbDocumentProvider which "steals" the USB
            devices from EtchDroid. We unexport it just to be on the safe side.
         -->
        <provider
            android:name="com.github.mjdev.libaums.storageprovider.UsbDocumentProvider"
            android:exported="false"
            tools:node="remove"
            tools:ignore="MissingClass">
        </provider>

    </application>
</manifest>
